.container {
    /* background: #000000; */
    height: 250px;
    width: 250px;
}

.btn {
    /* background: blue; */
    height: 30px;
    width: 30px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 3px;
}